@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial;
}

body {
  background-color: #d1d5ff;
  width: 100%;
  height: 100%;
  color: #000;
}

header {
  background-color: #858fff;
  padding: 3rem;
  margin: 0.5rem;
  text-align: center;
}

header h1 {
  padding-bottom: 3rem;
}

form {
  display: flex;
  flex-wrap: nowrap;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 0.6rem;
  font-size: 1rem;
  outline: none;
  background-color: #d1d5ff;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #d1d5ff inset !important;
  color: #000 !important;
}

button {
  padding: 0.6rem;
  width: 25%;
  background-color: #d1d5ff;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #74b354;
  border-radius: 0 50px 50px 0;
}

section#tasks {
  margin: 0.5rem;
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  padding: 0.5rem;
  background-color: #858fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

ul li a {
  text-decoration: none;
  color: #000;
  padding-left: 2rem;
}

ul li span {
  color: #282b4d;
  font-style: italic;
  font-size: 0.8rem;
  padding-left: 1rem;
}

ul li div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul li:nth-child(odd) {
  background-color: #d1d5ff;
}

ul li:hover {
  background-color: #a7aacc;
}

a.btnUpdate {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

a.btnUpdate:hover {
  background: #ffdf6b;
}

a.btnDelete {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

a.btnDelete:hover {
  background: #ff9e9e;
}

section#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

div#card {
  width: 30rem;
  position: relative;
  background-color: #3f3f4d;
}

div#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

div#card h2 {
  margin: 0;
  color: #fff;
}

div#card a#close {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

div#card a#close i {
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

div#card a#close:hover {
  border-radius: 48%;
  background: #ff000d;
  padding: 0 0.3rem;
}

div#card hr {
  width: 90%;
  margin: 0 auto;
  border-color: #a7aacc;
}

div#card p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
}

div#btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

div#btns a {
  text-decoration: none;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  background-color: #3f3f4d;
  font-size: 1.5rem;
}


div#btns a#btnNot{
  color: #ff000d;
  border: solid 1px #ff000d;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnNot:hover{
  background-color: #ff000d;
  color: #fff;
  border-radius: 50px;
}

div#btns a#btnYes{
  color: #55ff00;
  border: solid 1px #55ff00;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnYes:hover{
  background-color: #55ff00;
  color: #fff;
  border-radius: 50px;
}

.message {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-danger{
  background-color: #ff9e9e;
  color: #ff000d;
}

.message-success{
  background-color: #74b354;
  color: #1c4209;
}

span#close-message{
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
  padding-left: 2rem;
}

span#close-message:hover{
  color: #d16066;
}

ul li.check-true{
  background-color: #a7aacc;
  text-decoration: line-through;
}

ul li a.check-true::before{
  content: "";
  position: absolute;
  border: #000 solid;
  top: 19px;
  left: 16px;
  height: 15px;
  width: 7px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

ul li a.check-false::before{
  content: "";
  position: absolute;
  border: #000 solid;
  top: 22px;
  left: 16px;
  height: 13px;
  width: 13px;
  border-width: 2px;
}